@import "../../../../../../styles/variables";

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 232px;
  background-color: $light-light-gray;
  border-radius: 6px;

  &__text {
    height: fit-content;
    width: 224px;
    font-size: 36px;
    line-height: 43.5px;
    font-weight: 800;
    text-align: right;
  }
}